@charset "utf-8";

/*
 
   
   Reset Style Sheet for the Do Just Website
   Author: B-Allen
   Date:July 2025
   
   Filename: landing_reset.css

*/

/* structural styles */

article, aside, figcaption, figure, footer, header, main, nav, section 
{
    display: block;
    
}



/* font styles */

address, article, aside, blockquote, body, cite, div, dl, dt, dd, em, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, main, nav, ol, p, section, span, ul 
 {   
    
    font-size: 100%;
        margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    list-style-image: none;
    
}

nav a {
    text-decoration: none;
}

body {
    line-height: 1;
}
